
img{
    height: 15em;
    width: 15em;
}
body{
    padding: 5px;
}
#displayarea{
    border: solid black 2px;
    width: 100%;
    height: 100%;
    
}
#charterform{
    padding: 4em;
    margin: 2em; 
}
#charterform input{
    margin: 8px;
    width: 50%;
    border-radius: 6px;
    height: 40px;
}
span{
    display: block;
}
textarea {
    box-sizing: border-box;
    border-radius: 6px;
    resize: none;
  }
  #textareas{
    display:block;
    background-color: aqua;
    border: solid black 2px;
    width: 100%;
  }
